name: msgraph-lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  msgraph:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-actions@v9
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}
          args: --disable=errcheck --timeout=2m --verbose
